body {
  font-family: arial, monospace;
}

h1 {
  color: #c82333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.descriptiondate {
  list-style: none;
  color: #48484a;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.container-header {
  padding: 15px;
}

.current-location {
  background-color: transparent;
  position: relative;
  left: -20px;
}

.forecast-overview {
  margin-bottom: 20px;
}

.weather-forecast img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-forecast strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: #48484a;
}

.weather-forecast .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast .active {
  cursor: default;
}

.weather-forecast .active:hover {
  text-decoration: none;
}

.details {
  font-weight: 100;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 10px;
  line-height: 20px;
  color: #48484a;
  position: relative;
  top: -64px;
  left: -10px;
}

.textdeco {
  font-weight: bold;
}

.Footer {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-style: italic;
  color: #48484a;
}
